---
- name: Add OS specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
      - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
      - "{{ ansible_distribution }}.yml"
      - "{{ ansible_os_family }}.yml"
      paths:
      - ../vars

- name: Warn if OS is unsupported
  fail: msg="OS {{ ansible_distribution }} {{ ansible_distribution_major_version }} is unsupported"
  when: not icinga2_supported_os

- name: Set variables variables
  set_fact:
    icinga2_user: '{{ icinga2_user|default(__icinga2_user) }}'
    icinga2_ping_binary: '{{ icinga2_ping_binary|default(__icinga2_ping_binary) }}'

- name: "Run Debian specific installation"
  include: icinga2_Debian_install.yml
  when: ansible_os_family == 'Debian'

- name: "Run Redhat specific installation"
  include: icinga2_RedHat_install.yml
  when: ansible_os_family == 'RedHat'

- name: "Configure Icinga2"
  include: icinga2_configure.yml

- name: "Configure Icinga2 IDO"
  include: icinga2_setup_ido.yml
  when: icinga2_ido_with_postgres

- name: "Fix ping capabilities to enable check_ping tests"
  include: ping-capabilities.yml
  when: icinga2_ping_fix_capabilities

- name: Start Icinga2 after install
  service:
    name: icinga2
    enabled: yes
    state: started